<div class="container">
<%= form_with url: "/works/#{@work.event_id}/update" do |f| %>
    <%= f.hidden_field :event_id, :value => @work.event_id %>
    
    <%# 作品名 %>
    <div class="my-2">
        <h5><%= f.label :title, '作品名' %></h5>
        <%= f.text_field :title, value: @work.title, class: "py-2", size: "80x2" %>
    </div>

    <%# 作品URL %>
    <div class="my-2">
        <h5><%= f.label :portfolio_url, '作品URL' %></h5>
        <%= f.text_field :portfolio_url, value: @work.portfolio_url, class: "py-1", size: "80x2" %>
    </div>

    <%# 作品概要 %>
    <div class="my-2">
        <h5><%= f.label :profile, '作品概要' %></h5>
        <%= f.text_area :profile, value: @work.profile, class: "py-1", size: "80x5"  %>
    </div>

    <%# 画像 %>
    <div class="my-2">
        <h5><%= f.label :image_name, '作品画像' %></h5>
        <label class="file-upload">
            ファイルを選択
            <%= f.file_field :image_name, value: @work.image_name, id: "test", class: "js-upload-file py-1", size: "80x5" %>
        </label>
        <h5 class="js-upload-filename my-2"><%= @work.image_name_identifier %></h5>
        <span class="fileclear js-upload-fileclear p-1" style="border: 1px solid black;">選択ファイルをクリア</span>
    </div>

        
    <div class="my-2">        
        <%= f.submit "編集" %>
    </div>
<% end %>
</div>

<%# javascript使用 %>
<%= javascript_pack_tag 'works_edit' %>