<div class="container">
<%= form_with url: "/works/#{@event.id}/create" do |f| %>
    <%= f.hidden_field :event_id, :value => @event.id %>
        
    <div class="my-2">
        <h5><%= f.label :title, '作品名' %></h5>
        <%= f.text_field :title, class: "py-2", size: "80x2" %>
    </div>

    <div class="my-2">
        <h5><%= f.label :portfolio_url, '作品URL' %></h5>
        <%= f.text_field :portfolio_url, class: "py-1", size: "80x2" %>
    </div>

    <div class="my-2">
        <h5><%= f.label :profile, '作品概要' %></h5>
        <%= f.text_area :profile, class: "py-1", size: "80x5" %>
    </div>

    <div class="my-2">
        <h5><%= f.label :image_name, '作品画像' %></h5>
        <%= f.file_field :image_name, class: "py-1", size: "80x5" %>
    </div>
        
    <div class="my-2">        
        <%= f.submit "登録" %>
    </div>
<% end %>
</div>
