<div class="table-page">
<div class="container">
<div class="text-center", style="margin: 70px auto;">
<h1>作品一覧</h1>
</div>

<div class="row">
<% if @works.size > 0 %> 
    <% @works.each do |work| %>
        <% if work.event.status == "終了" %>
        <div class="col-md-4 my-0">
            <%# 上端揃え %>
            <div class="card mb-4 shadow-sm" style="vertical-align:top;">
                <% if work.image_name? %>
                    <%= image_tag work.image_name.thumbnail.url, height: "250px", class: "card-img-top" %>
                <% else %>
                    <%= image_tag "/assets/default_app_info.png", height: "250px", class: "card-img-top" %>
                <% end %>
                <div class="card-body border-top">
                <h4 class="card-title"><%= work.title %></h4>
                <p class="card-text"><%= safe_join(work.profile.split("\n"), tag(:br)) %></p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <%= link_to("作品URL", "#{work.portfolio_url}", target: :_blank, class: "btn btn-sm btn-outline-secondary") %>
                        <button type="button" class="btn btn-sm btn-outline-secondary">発表スライド</button>
                        <%= link_to "https://twitter.com/share?url=#{request.url}&text=#{work.title}を作成しました！", title: 'Twitter', target: '_blank', class: "btn btn-sm btn-outline-secondary" do %>
                            <i class="fab fa-twitter" style="color:#3EA7E8;"></i>
                        <% end %>
                    </div>
                    <small class="text-muted">
                    <time datetime="<%= work.created_at %>", class="ml-auto">
                        <%= time_ago_in_words(work.created_at) %>前
                    </time>
                    </small>
                </div>
                </div>
            </div>
        </div>
        <% end %>
    <% end %>
<% end %>
</div>

</div>
</div>