<div class="user-edit">
<% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
        <h2 class="text-danger"><%= message %></h2>
    </div>
<% end %>

<div class="container">
    <h3 class="mt-5 mb-4">編集画面</h3>
    <%= form_with url: "/users/update", local: true, method: 'POST' do |f| %>

        <div class="my-2">
            <h5><%= f.label :name, '名前' %></h5>
            <%= f.text_field :name, value: @user.name, class: "py-1" %>
        </div>

        <div class="my-2">
            <h5><%= f.label :old, '年齢' %></h5>
            <%= f.text_field :old, value: @user.old, class: "py-1" %>
        </div>

        <div class="my-2">
            <h5><%= f.label :profile, 'プロフィール' %></h5>
            <%= f.text_area :profile, value: @user.profile, class: "profile-form py-1"%>
        </div>
        
            
        <div class="my-2">        
            <%= f.submit "編集", class: "submit-btn" %>
        </div>
    <% end %>
</div>
</div>



<%
=begin
%>
<%= form_tag("/users/update") do %>
        <div class="form-group">
            <input name="id" class="form-control" id="id" type="hidden" value="<%= @user.id %>">
        </div>
        <div class="form-group">
            <label>名前</label>
            <input name="name" class="form-control" id="name" value="<%= @user.name %>">
        </div>
        <div class="form-group">
            <label>メール</label>
            <input name="email" class="form-control" id="email" value="<%= @user.email %>">
        </div>
        <div class="form-group">
            <label>年齢</label>
            <input name="old" class="form-control" id="old" value="<%= @user.old %>">
        </div>
        <div class="form-group">
            <label>プロフィール</label>
            <input name="profile" class="form-control" id="profile" value="<%= @user.profile %>">
        </div>

        <button type="submit" class="btn btn-primary">編集する</button>
    <% end %>

<%
=end
%>
