<div class="user-show-page">
    <div class="head"></div>
    <div class="main container">
        <%= image_tag "/assets/test.png", class: "profile-image mt-4" %>
        <div class="text-center mt-5">
            <h2><%= @user.name %>（<%= @user.old %>）</h2>
            <% if @user.profile %>
            <h3 class="mt-5"><%= safe_join(@user.profile.split("\n"), tag(:br)) %></h3>
            <% end %>
        </div>
        <% if current_user %>
            <%= link_to("編集", "/users/#{@user.id}/edit") %>
            <%= link_to("削除", "/users/#{@user.id}/destroy", method: 'POST') %>
        <% end %>
    </div>
</div>
