<div class="download-page text-center", style="height:100%;">
    <h1 class="my-5 py-5">バーチャル背景　無料プレゼント</h1>
    <div class="row my-5", style="height: 100%;">
        <div class="col-4 h-100 text-center">
            <h5 class="">
                <a href="/assets/zoom_image/git_logo.png" download="git_logo.png">git ロゴあり</a>
            </h5>
            <%= image_tag "/assets/zoom_image/git_logo.png",width: '80%', height: '250px' %>
        </div>
        <div class="col-4 h-100 text-center">
            <h5>
                <a href="/assets/zoom_image/git_logo_none.png" download="git_logo_none.png">git ロゴなし</a>
            </h5>
            <%= image_tag "/assets/zoom_image/git_logo_none.png",width: '80%', height: '250px' %>
        </div>
        <div class="col-4 h-100 text-center">
            <h5>
                <a href="/assets/zoom_image/git_修行.png" download="git_修行.png">git　修行中</a>
            </h5>
            <%= image_tag "/assets/zoom_image/git_修行.png",width: '80%', height: '250px' %>
        </div>
    </div>
    <div class="row my-5", style="height: 100%;">
        <div class="col-4 h-100 text-center">
            <h5 class="">
                <a href="/assets/zoom_image/java_logo.png" download="java_logo.png">Java ロゴあり</a>
            </h5>
            <%= image_tag "/assets/zoom_image/java_logo.png",width: '80%', height: '250px' %>
        </div>
        <div class="col-4 h-100 text-center">
            <h5>
                <a href="/assets/zoom_image/java_logo_none.png" download="java_logo_none.png">Java ロゴなし</a>
            </h5>
            <%= image_tag "/assets/zoom_image/java_logo_none.png",width: '80%', height: '250px' %>
        </div>
        <div class="col-4 h-100 text-center">
            <h5>
                <a href="/assets/zoom_image/js_logo.png" download="js_logo.png">javascript ロゴあり</a>
            </h5>
            <%= image_tag "/assets/zoom_image/js_logo.png",width: '80%', height: '250px' %>
        </div>
    </div>
    <div class="row my-5", style="height: 100%;">
        <div class="col-4 h-100 text-center">
            <h5 class="">
                <a href="/assets/zoom_image/js_logo_none.png" download="js_logo_none.png">javascript ロゴなし</a>
            </h5>
            <%= image_tag "/assets/zoom_image/js_logo_none.png",width: '80%', height: '250px' %>
        </div>
        <div class="col-4 h-100 text-center">
            <h5>
                <a href="/assets/zoom_image/php_logoあり.png" download="php_logoあり.png">PHP ロゴあり</a>
            </h5>
            <%= image_tag "/assets/zoom_image/php_logoあり.png",width: '80%', height: '250px' %>
        </div>
        <div class="col-4 h-100 text-center">
            <h5>
                <a href="/assets/zoom_image/php_logoなし.png" download="php_logoなし.png">PHP ロゴなし</a>
            </h5>
            <%= image_tag "/assets/zoom_image/php_logoなし.png",width: '80%', height: '250px' %>
        </div>
    </div>
    <div class="row my-5", style="height: 100%;">
        <div class="col-4 h-100 text-center">
            <h5 class="">
                <a href="/assets/zoom_image/python_logoあり.png" download="python_logoあり.png">python_logoあり</a>
            </h5>
            <%= image_tag "/assets/zoom_image/python_logoあり.png",width: '80%', height: '250px' %>
        </div>
        <div class="col-4 h-100 text-center">
            <h5>
                <a href="/assets/zoom_image/python_logoなし.png" download="python_logoなし.png">Python ロゴなし</a>
            </h5>
            <%= image_tag "/assets/zoom_image/python_logoなし.png",width: '80%', height: '250px' %>
        </div>
        <div class="col-4 h-100 text-center">
            <h5>
                <a href="/assets/zoom_image/ruby_logoあり.png" download="ruby_logoあり.png">ruby　ロゴあり</a>
            </h5>
            <%= image_tag "/assets/zoom_image/ruby_logoあり.png",width: '80%', height: '250px' %>
        </div>
    </div>
    <div class="row my-5", style="height: 100%;">
        <div class="col-4 h-100 text-center">
            <h5 class="">
                <a href="/assets/zoom_image/ruby_logoなし.png" download="ruby_logoなし.png">ruby　ロゴなし</a>
            </h5>
            <%= image_tag "/assets/zoom_image/ruby_logoなし.png",width: '80%', height: '250px' %>
        </div>
        <div class="col-4 h-100 text-center">
            <h5>
                <a href="/assets/zoom_image/swift_logoあり.png" download="swift_logoあり.png">swift ロゴあり</a>
            </h5>
            <%= image_tag "/assets/zoom_image/swift_logoあり.png",width: '80%', height: '250px' %>
        </div>
        <div class="col-4 h-100 text-center">
            <h5>
                <a href="/assets/zoom_image/swift_logoなし.png" download="swift_logoなし.png">swift　ロゴなし</a>
            </h5>
            <%= image_tag "/assets/zoom_image/swift_logoなし.png",width: '80%', height: '250px' %>
        </div>
    </div>
</div>