<div class="container">
    <%= form_tag("/events/update") do %>
        <div class="form-group">
            <input name="id" class="form-control" id="id" type="hidden" value="<%= @event.id %>">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">イベント名</label>
            <input name="title" class="form-control" id="title" value="<%= @event.title %>">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">言語</label>
            <input name="skill" class="form-control" id="skill" value="<%= @event.skill %>">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">募集人数</label>
            <input name="accept_num" class="form-control" id="accept_num" value="<%= @event.accept_num %>">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">URL(zoomなどの)</label>
            <input name="url" class="form-control" id="url" value="<%= @event.url %>">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">説明</label>
            <textarea class="form-control" name="description" id="description" style="height:100px;"><%= @event.description %></textarea>
        </div>
        
        <div class="form-group">
        <label for="exampleInputPassword1">状態</label>
        <%# 条件分岐 %>
        <% if @event.status == "募集中" %>
        <p>
        <input type="radio" name="status" value="募集中" checked>募集中
        <input type="radio" name="status" value="開催中">開催中
        <input type="radio" name="status" value="終了">終了
        </p>
        <% elsif @event.status == "開催中" %>
        <p>
        <input type="radio" name="status" value="募集中">募集中
        <input type="radio" name="status" value="開催中" checked>開催中
        <input type="radio" name="status" value="終了">終了
        </p>
        <% elsif @event.status == "終了" %>
        <p>
        <input type="radio" name="status" value="募集中">募集中
        <input type="radio" name="status" value="開催中">開催中
        <input type="radio" name="status" value="終了" checked>終了
        </p>
        <% end %>
        </div>

        <button type="submit" class="btn btn-primary">編集する</button>
    <% end %>
</div>