<div class="index-page container">

    <%# 追加ボタン %>
    <div class="mt-5 d-flex justify-content-end">
        <%= link_to("追加", "/events/new", class: "btn btn-primary") %>
    </div>

    <%# 検索フォーム %>
    <div class="search-wrap">
    <p class="m-0" style="background-color: #F5F5F5;"><i class="fas fa-search mr-3"></i>検索条件</p>
    <div class="search_form_wrap">
        <%= search_form_for(@search, url: "/events/index" ) do |f| %>
            
            <div class="d-flex">
                <div class="search_form_group keyword">
                <%= f.label :name , "キーワード", class: "label" %>
                </div>

                <div class="search_form_group">
                <%= f.label :title, "イベント名", class: "label" %>
                <%= f.search_field :title_cont %>
                </div>
                
                <div class="search_form_group">
                    <%= f.label :skill, "言語", class: "label" %>
                    <%= f.search_field :skill_cont %>
                </div>

                <div class="search_form_group">
                    <%= f.label :accept_num, "募集人数", class: "label" %>
                    <%= f.search_field :accept_num_cont %>
                </div>
            </div>

            <div class="mt-2">
            <%= f.label :status, "開催状況", class: "label", style: "margin-right: 40px;" %>
            <%= f.select :status_cont, options_from_collection_for_select(Event.all, :status, :status, 2), { include_blank: '選択してください'}, class: "p-1", style: "width: 20%" %>
            </div>

            <div class="mt-2">
            <%= f.label :sorts, "並び替え", class: "label", style: "margin-right: 40px;" %>
            <%= f.select( :sorts, { '選択してください': 'id desc', 'タイトル順': 'title asc', 'タイトル降順': 'title desc', '古い順': 'created_at asc', '新しい順': 'created_at desc' }) %>
            </div>

            <div class="mt-2">
            <%= f.submit "検索" %>
            </div>
        <% end %>
    </div>
    </div>

    <div class="event-wrap">
        <% @events.each do |event| %>
        <div class="card m-3" style="width: 100%;">
            <div class="card-body">
                <% if event.status == "募集中" %>
                    <h6 class="btn btn-outline-danger"><%= event.status %></h6>
                <% elsif event.status == "開催中" %>
                    <h6 class="btn btn-outline-success"><%= event.status %></h6>
                <% elsif event.status == "終了" %>
                    <h6 class="btn btn-outline-secondary"><%= event.status %></h6> 
                <% end %>
                <h3 class="card-title"><%= event.title %></h3>
                <h6 class="card-subtitle mb-2"><span class="text-muted">言語：</span><%= event.skill %></h6>
                <h6 class="card-subtitle mb-2"><span class="text-muted">募集人数：</span><%= event.accept_num %></h6>
                <p class="card-text"><%= event.description %></p>
                <div class="d-flex">
                    <%= link_to("詳しくみる", "/events/#{event.id}/show") %>
                    <time datetime="<%= event.created_at %>", class="ml-auto">
                        <h6 class=""><%= time_ago_in_words(event.created_at) %>前</h6>
                    </time>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>